.ff-roboto {
  font-family: 'Roboto', sans-serif;
}

.color-black {
  color: #111;
}

.color-grey {
  color: #525252
}

.color-white {
  color: white;
}

.bg-coral {
  background-color: coral;
}

.color-lightcoral {
  color: lightcoral;
}